rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /system/{docId} {
      allow read: if true;
      allow write: if false;
    }
    match /homes/{homeId} {
      allow read: if true;
      allow write: if true;
    }
    match /staff/{staffId} {
      allow read: if true;
      allow write: if true;
    }
    match /residents/{residentId} {
      allow read: if true;
      allow write: if true;
    }
    match /checkins/{checkinId} {
      allow read: if true;
      allow write: if true;
    }
    match /jobLogs/{logId} {
      allow read: if true;
      allow write: if true;
    }
    match /pushLogs/{logId} {
      allow read: if true;
      allow write: if true;
    }
    match /staffAuth/{uid} {
      allow read: if true;
      allow write: if true;
    }
    match /device_bindings/{bindingId} {
      allow read: if true;
      allow write: if true;
    }
  }
}